<div class="container mt-5">
  <h1 class="text-center mb-4">{{ title | capitalize }}</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <app-task-filter (filterTasks)="filterTasks($event)"></app-task-filter>
      <app-new-task-form (addTask)="addTask($event)"></app-new-task-form>
      <app-task-counter [tasks]="filteredTasks"></app-task-counter>
      <app-task-list [tasks]="filteredTasks" (deleteTask)="deleteTask($event)"></app-task-list>
    </div>
  </div>
</div>